/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
  --font-family: 'Encode Sans Expanded', sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}


.vh-notFound {
  height: calc(100vh - 203px);
}

.vh-100-custom {
  height: calc(100vh - 58.75px);
}

.rating-color {
  color: var(--rating-color);
}

.cursor-pointer {
  cursor: pointer;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

.product:hover {
  box-shadow: var(--shadow);
  border: solid 1px var(--main-color);
}


.font-sm {
  font-size: 14px;
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color) !important;
}

.bg-main-light {
  background-color: var(--light-color) !important;
}




/* ============================================ */



.h-400px {
  height: 400px;
}

.h-200px {
  height: 200px;
}

.h-100px {
  height: 100px;
}

.h-75px {
  height: 75px;
}

.h-50px {
  height: 50px;
}

.font-md {
  font-size: 16px;
}


.slick-prev:before,
.slick-next:before {
  color: black;
  opacity: .5;

}

.w-fit {
  width: fit-content;
}

.fa-heart {
  cursor: pointer;
}

.vh-50 {
  height: 50vh;
}

.vh-50-navbar {
  height: calc(50vh - 58.75px);
}

.vh-75-navbar {
  height: calc(75vh - 58.75px);
}

.vh-100-navbar {
  height: calc(100vh - 58.75px);
}

.vh-75 {
  height: 75vh;
}


.nav-link {
  transition: .4s;
}

.active {
  color: #0aad0a !important;
  font-weight: bolder;
}

.active-rate {
  filter: brightness(130%);
  text-shadow: 0px 0px 5px goldenrod;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.active-radio {
  background-color: #0aad0a;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  outline-offset: 2px;
  outline-style: solid;
  outline-color: #0aad0a;
  outline-width: 1px;
  border-radius: 50%;
}